# Python
*.py[cod]
*$py.class
*.so
.Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
/media
/staticfiles

# Entorno Virtual
venv/
env/
ENV/
.venv
entorno/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Variables de entorno
.env
.env.local
.env.*.local

# Distribución / empaquetado
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Testing
.pytest_cache/
.coverage
htmlcov/
.tox/

# Jupyter Notebook
.ipynb_checkpoints

# pyenv
.python-version
