{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TodoDeporte{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
   <div class="top-banner">
    🏃‍♂️🟢 ¡Encontrá todos los deportes aquí! 🟡⚽
</div>
{# Incluimos el Header común #}
    {% include 'includes/header.html' %}

    {# Aquí se inyectará el contenido específico de cada página #}
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {# Incluimos el Footer común #}
    {% include 'includes/footer.html' %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>