{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}TodoDeporte{% endblock %}</title>
    <link rel="icon" type="image/svg+xml" href="{% static 'img/favicon.svg' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    {% block extra_css %}{% endblock %}
</head>
<body>
{# Incluimos el Header común #}
    {% include 'includes/header.html' %}

    {# Área de Notificaciones globales #}
    {% if messages %}
        <div class="msg-container">
            {% for message in messages %}
                <div class="msg {% if 'success' in message.tags %}msg-success{% else %}msg-error{% endif %}">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {# Aquí se inyectará el contenido específico de cada página #}
    <main>
        {% block content %}
        {% endblock %}
    </main>

    {# Incluimos el Footer común #}
    {% include 'includes/footer.html' %}

    <script src="{% static 'js/main.js' %}"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>