<li class="news-item improved-card">
    <a href="{% url 'detalle_articulo' articulo.id %}" class="card-link">
        
        <div class="card-thumb">
            {% if articulo.imagen_destacada %}
            <img src="{{ articulo.imagen_destacada.url }}" alt="{{ articulo.titulo }}">
            {% endif %}
        </div>

        <div class="card-body">
            <h3 class="card-title">{{ articulo.titulo }}</h3>

            <span class="card-meta">
                {{ articulo.categoria.nombre }} • {{ articulo.fecha_creacion|date:"d M Y" }}
            </span>
        </div>

    </a>
</li>